@font-face {
  font-family: 'New Rail Alphabet';
  src: url('/fonts/newrailalphabet-bold-webfont.woff2') format('woff2'),
       url('/fonts/newrailalphabet-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}