@use "../utils/breakpoints" as *;
$bg: #f2f2f2 !default;
$fg: #808080 !default;
$green: #008700 !default;
$purple: #7600ff !default;
$black: #000 !default;
$red: #d30000 !default;
$blue: #0000e1 !default;
$orange: #ffa600 !default;

:root {
  --bg: #{$bg};
  --fg: #{$fg};
  --green: #{$green};
  --purple: #{$purple};
  --black: #{$black};
  --red: #{$red};
  --blue: #{$blue};
  --orange: #{$orange};
  --gap: 1.2em;
  --leading: 1.2em;
  --shape-color: var(--black);
}

body,
html {
  overflow: hidden;
}

html {
  font-size: 16px;

  @include breakpoint($m-up) {
    font-size: 1.28vw;
  }
}

body {
  padding: .75em 2em;
  font-family: "New Rail Alphabet", sans-serif;
  background: var(--bg);
  color: var(--fg);
  font-size: 1rem;
  line-height: var(--leading);
  font-feature-settings: "liga" 1;
}

::selection {
  background: var(--shape-color);
  color: var(--bg);
}
::-moz-selection {
  background: var(--shape-color);
  color: var(--bg);
}

a {
  color: var(--fg);

  &:hover {
    color: var(--black);
  }
}

.site-wrapper {
  display: grid;
  gap: 0 var(--gap);
  grid-template-columns: repeat(9, 1fr);
}

.site-header {
  grid-column: span 3;

  @include breakpoint($m-up) {
    grid-column: span 1;
  }

  .site-header-title {
    text-indent: -99999px;
    overflow: hidden;
    width: 100%;
    height: 1.2em;
    margin-top: .125em;
    background: url("./images/logo.png") no-repeat top left;
    background-size: contain;
  }
}

.main {
  grid-column: span 6;
  user-select: none;

  @include breakpoint($m-up) {
    grid-column: span 8;
  }
}

.site-footer {
  position: fixed;
  bottom: .75em;
  left: 2em;
}